@keyframes myAnimation {
    from {background-color:red;}
    to {background-color:yellow;}
}

.animations {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: myAnimation;
    animation:infinite;
}
