.grid {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    gap: 10px 10px;
    padding: 10px;
  }
  .grid > div {
    background-color: #dcdcdc;
    text-align: center;
    padding: 20px;
  }
  .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .item2 {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .item3 {
    grid-column-start: 1;
    grid-column-end: 4;

  }
  .item7 {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .item8 {
    grid-column-start: 1;
    grid-column-end: 5;
  }
