<ul>
   <li>Title: Everyday Italian</li>
   <li>Author: Giada De Laurentiis</li>
   <li>Year: 2005</li>
   <li style="color:green">Price: 30.00</li>
</ul>
<hr>
<ul>
   <li>Title: Harry Potter</li>
   <li>Author: J K. Rowling</li>
   <li>Year: 2005</li>
   <li style="color:green">Price: 29.99</li>
</ul>
<hr>
<ul>
   <li>Title: XQuery Kick Start</li>
   <li>Author: James McGovern</li>
   <li>Year: 2003</li>
   <li style="color:red">Price: 49.99</li>
</ul>
<hr>
<ul>
   <li>Title: Learning XML</li>
   <li>Author: Erik T. Ray</li>
   <li>Year: 2003</li>
   <li style="color:red">Price: 39.95</li>
</ul>
<hr>