@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    text-align: center;
    font-family: Open Sans;
}

table, th, td {
    border:solid 0px;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    padding:10px;
    font-family: Open Sans;
    text-align: left;
}

table {
    box-shadow: 0 0 20px #ccc;
    width: 500px;
    border-radius: 15px;
    overflow:hidden;
}

.left {
    background-color: white;
    
}

table tr:nth-child(even) {
    background-color: rgb(223, 219, 214);
}

.authors {
    background-color: rgb(89, 139, 190);
}