@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    text-align:center;
    font-family: Open Sans;
}

table, td, th {
    text-align:center;
    border:solid 0px;
    border-collapse: collapse;
    margin-left:auto;
    margin-right: auto;
    padding:10px;

}

img {
    width:20%;
}

th {
    padding: 25px;
    color:white;
    background-color:  rgb(42, 92, 185);
}

tr:nth-child(odd) {
    background-color: rgb(223, 219, 214);
}

td {
    height:50px;
}