
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto:wght@100&family=Tangerine&display=swap');
company {
    font-family: Tangerine;
    font-size: 7rem;
    color:rgb(23, 143, 103);
}

* {
    font-family:Lora;
    display: block;
    text-align:center;
}



title {
    font-weight:bold;
    margin-top:0.8em;
    margin-bottom:0.8em;
    font-size:2em;
}

header {
    font-size: 1em;
    margin-bottom:0.4em;
}

name {
    margin-top:0.7em;
    font-size: 1.3em;
    color: rgb(62, 107, 189);
}

price {
    color:gray;
    font-size:0.8em;
}

description {
    font-size:0.9em;
}

calories {
    color:green;
    margin-bottom: 1em;
}

company {
    font-family: Tangerine;
}

footer {
    margin-top:1em;
    font-size: 0.7em;
}

price:after {
    content: " $"
}

calories:before {
    content: "Calories: "
}