@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


h1 {
    font-family: Lumanosimo;
    color:rgb(218, 93, 93)
}

h2 {
    font-family: Lumanosimo;
    color:cadetblue
}

h3 {
    font-family: Lumanosimo;
    color:cadetblue
}

* {
    font-family: Roboto;
}

a {

    color: white;
}

a.link1 {
    margin-left: 15px;
}

a.link2 {
    width: 80%;
    margin-left: 15px;
    background-color: orange;
    padding:15px 15px 15px 15px;
}

a.link2:hover {
    background-color: orangered;
}

div.links {
    padding:15px 15px 15px 15px;
    width: 95%;
    background-color: rgb(90, 115, 223);
}

img {
    float: left;
    margin-right: 25px;
}

table {
    width: 30%;
    border-collapse: collapse;
    border: 2px solid black;
    border-spacing: 10px;
}

table, td {
    border: 2px solid black;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: rgb(111, 183, 255);
}

li {
    margin-top: 40px;
}

div.top {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  a.back {
    width: 80%;
    margin-left: 15px;
    background-color: orange;
    padding:15px 15px 15px 15px;
  }

  a.back:hover {
    background-color: orangered;
  }