@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Open+Sans&family=Oswald&display=swap');

@media only screen and (max-width: 600px) {
 
    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: solid;
        border-radius: 40px;
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 5px 5px 5px #999;
    }

    .table1 {
        width: 80%;
        border:solid 1.9px;
        border-radius: 7px;
        padding: 12px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 5px 5px 5px #999;
    }  

    .table1 td {
        display:table;
        width:100%;
        border-radius: 7px;
        border:solid 1.8px;
        background-color: rgba(252, 213, 41, 0.685);
    }

}

@media only screen and (min-width: 601px) {
    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: solid;
        border-radius: 40px;
        width: 600px;
        margin-bottom: 20px;
        box-shadow: 5px 5px 5px #999;
    }

    .table1 {
        width: 80%;
        border:solid 1.9px;
        border-radius: 7px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 5px 5px 5px #999;
    }    

    .table1 td {
        width:50%;
        border-radius: 7px;
        border:solid 1.8px;
        background-color: rgba(252, 213, 41, 0.685);
        padding:10px;
    }

}

body {
    font-family: Open Sans;
}


h1 {
    font-family: Oswald;
    text-align: center;
}

h3 {
    font-family: Oswald;
    text-align:center;
}

.table2 {
    border:solid 2px #999;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    box-shadow: 5px 5px 5px #999;
    border-radius:8px;
    font-size: 14px;
    
}

.table2 td {
    border:solid 0.5px #999;
    border-radius:5px;
    padding:5px;
}

thead {
    font-family: Oswald;
    font-size: 16px;
}

.div1 {
    float:left;
}

.div2 {
    float:left;
    margin-left: 35px;
}

thead {
    font-weight: bold;
}

.convert {
    margin-top: 10px;
    background-color: rgb(63, 112, 204);
    color: white;
    padding: 7px;
    width: 90px;
    border-radius: 2px;
    margin-right: 60px;
}