@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

img {
    width: 90px;
}

body {
    text-align: center;
    background-color: rgb(197, 197, 197);
    font-family: Open Sans;
}

table,td,th {
    border:solid 1px;
    border-collapse: collapse;
    margin-left:auto;
    margin-right: auto;
    padding:10px;
    background-color: white;
}

th {
    background-color: rgb(23, 109, 238);
}