h1 {
    text-align:center;
}

table, td, th {
    border:solid 0px;
    border-collapse: collapse;
}

th {
    padding: 25px;
    background-color:  rgb(100, 140, 214);
}

tr:nth-child(odd) {
    background-color: rgb(223, 219, 214);
}
