@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

h1 {
    font-family: open sans;
    font-weight:bold;
    background-color: rgb(36, 97, 189);
    padding: 10px;
    color:white;
}

.header {
    display:block;
    margin: auto;
    width: 1200px;
}

h2 {
    font-family: open sans;
    font-weight:bold;
    background-color: rgb(36, 97, 189);
    padding: 10px;
    color:white;
    margin: 10px;
}

h3 {
    text-align:center;
}

.container {
    display: grid;
    place-items: center;
    padding: 10px;
    gap: 10px 10px;
    grid-template-columns: 49% 49%;
}

.diagram {
    width: 570px;

}

iframe {
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    display:flex;
}

.div1 {
    background-color:rgb(188, 221, 216);
    box-shadow: 5px 5px 5px;
    padding: 10px;
}

.div2 {
    background-color:rgb(188, 221, 216);
    box-shadow: 5px 5px 5px;
    padding: 20px;
}

.div3 {
    background-color:rgb(188, 221, 216);
    box-shadow: 5px 5px 5px;
    padding: 5px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width: 900px;
    margin-top: 25px;
}

.table1  {
    margin-left:auto;
    margin-right:auto;
}

th {
    background-color: rgb(36, 97, 189);
    padding: 10px;
    color:white;
}

td {
    padding:5px;
}

.table1 tr:nth-child(even) {
    background-color: rgb(107, 161, 241);
}

img {
    width: 130px;
}

.div4 img:hover {
    transform:scale(1.2);
    transition-duration: 0.2s;
}

.div4 img:active {
    width:130px;
}

.boto {
    background-color: rgb(31, 144, 236);
    border-radius: 15px;
    padding:10px 15px;
    color:white;
}

.table2 {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px;
    border-spacing:10px;
    border-collapse:separate;
}

.table2 td {
    width:600px;
    background-color: rgb(181, 207, 228);
}

