body {
    background-color:rgb(253, 253, 231);
}

h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

fieldset {
    border-radius: 15px;
    margin-bottom: 10px;
    background-color:rgb(255, 228, 196);
    padding: 15px;
    padding-left: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 777px;
}

fieldset:hover {
    background-color: rgb(252, 187, 108);
    transition-duration:1s;
}

legend {
    border: solid 1px;
    border-radius: 8px;
    font-weight: bold;
    border-color:gray;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:5px;
}

.city {
    float:left;
}

.city2 {
    float: left;
    margin-left: 35px;
   
}

.register {
    background-color: rgb(63, 112, 204);
    color: white;
    padding: 12px;
    width: 112px;
    border-radius: 30px;
}

input {
    border-bottom: solid 2px;
    border-top:solid 0px;
    border-left: solid 0px;
    border-right:solid 0px;
}

input:hover {
    border: solid 2px;
    border-color: red;
    transition-duration: 1s;
}

@keyframes Email {
    from {width:200px;}
    to {width:440px;}
  }

.email:hover {
    animation-name: Email;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    width:440px;
}

@keyframes Register {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }

.register:hover {
    animation-name: Register;
    border:0px;
    animation-duration: 1s;
}

.submit {
    text-align: center;
}

span {
    color:red;
}