<style>
    #scroll-to-top {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      padding: 10px 15px;
    }
  </style>

<button onclick="scrollToTop()" id="scroll-to-top">↑</button>

<script>
  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }

  window.onscroll = function() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("scroll-to-top").style.display = "block";
    } else {
      document.getElementById("scroll-to-top").style.display = "none";
    }
  }
</script>