div.t1 {
    background-color:rgb(233, 24, 24);
}

div.t2 {
    background-color:rgb(45, 12, 228);
}

span.italic {
    font-style: italic;
}

span.bold {
    font-weight: bold;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none
}

a:visited {
    color: dodgerblue;
    background-color: transparent;
    text-decoration: none
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline
}

img {
    float: left;
    margin: 10;
}

p.newparagraph {
    clear: both;
}