table {
    width: 50%;
    border-spacing: 20px;
    border-collapse: collapse;
}

table, th, td {
    padding: 15px;
    border: 2px solid rgb(253, 0, 0);
}

th {
    background-color: rgb(204, 0, 255);
}

tr:hover {
    background-color: rgb(255, 0, 157);
}