@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.table1, th, td {
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    padding:10px;
    font-family: Open Sans;
}

.table1 {
    border-radius:10px;
    overflow:hidden;
    box-shadow: 0 0 20px #ccc;
}

.table2 {
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    border-radius:10px;
    overflow:hidden;
    box-shadow: 0 0 20px #ccc;
    font-family: Open Sans;
}

th {
    background-color: rgb(96, 152, 235);
    text-align: center;
    color:white;
    padding:15px;
    font-weight: bold;
}

td {
    text-align: center;
}

.td1 {
    background-color: rgb(201, 199, 199);
    font-weight: bold;
}

.td2name {
    background-color: rgb(84, 147, 207);
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: rgb(223, 219, 214);
}
