@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
@namespace info url(http://www.emporiumbank.com/info);


records {
    display: table;
    border-collapse: collapse;
    font-family: Open Sans;
    width: 99%;
    margin: 15px auto;
}

record:nth-child(even) {
    background-color:rgb(126, 195, 251);
}

record:nth-child(10n+10) {
    background-color:rgb(39, 118, 183);
}


header, record {
    display: table-row;
}

record *, header * {
    display: table-cell;
    border: 1px solid #000000;
    padding: 3px;
    border-spacing: 0px;
    font-size:13px;
}

header {
    width: 10px;
    height: 50px;
    background-color: rgb(248, 200, 140);
    display: table-header-group;
    text-align:center;
    font-weight: bold;
}


#Client\ List:before {
    font-size: 13px;
    content: "Report: " attr(id);
}

info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

info|name {
    font-family: Edu TAS Beginner;
    color: blue;
    font-size: 30px;
}

info|phone::before {
    content: "Phone: ";
    font-family: Open Sans;
    font-size: 17px;
    font-weight: bold;
}

info|email::before {
    content: "Email: ";
    font-family: Open Sans;
    font-size: 17px;
    font-weight: bold;
}

info|address::before {
    content: "Address: ";
    font-family: Open Sans;
    font-size: 17px;
    font-weight: bold;
}

info|postalzip::before {
    content: "Postal Zip: ";
    font-family: Open Sans;
    font-size: 17px;
    font-weight: bold;
}

info|region::before {
    content: "Region: ";
    font-family: Open Sans;
    font-size: 17px;
    font-weight: bold;
}

info|country::before {
    content: "Country: ";
    font-family: Open Sans;
    font-size: 17px;
    font-weight: bold;
}
