@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100&display=swap');

body {
    text-align: center;
}
h1 {
    font-family: Lumanosimo; 
    color:rgb(39, 116, 119)
}

td:hover {
    background-color: rgb(97, 190, 233);
}

th:hover {
    background-color: rgb(97, 190, 233);
}

td {
    font-family:Roboto bold;
}

th {
    padding-left: 10px;
    text-align: left;
    width: 18%;
    font-size: 18px;
    font-family: Roboto Condensed;
}

table, td,tr {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 10px;
    border: 1px solid black;
    padding: 15px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

tr.primera {
    background-color: rgb(156, 181, 250);
}

tr:nth-child(even) {
    background-color: rgb(134, 184, 235);
}

li {
    text-align: left;
}