@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&family=Oswald:wght@200&display=swap');


@media only screen and (max-width: 600px) {
    #poke-container {
        display: grid;
        gap: 10px 10px;
        grid-template-columns: 99%;
    }

    p {
        font-size: 18px;
        font-family: Open Sans;
    }

    ul:before {
        font-size: 18px;
        font-family: Open Sans;
        font-weight: bold;
        content: "Type: "
    }

    li {
        font-size: 18px;
        font-family: Open Sans;
    }
}

@media only screen and (min-width: 601px) and (max-width: 799px)  {
    #poke-container {
        display: grid;
        gap: 10px 10px;
        grid-template-columns: 49% 49%;
    }

    p {
        font-size: 17px;
        font-family: Open Sans;
    }

    ul:before {
        font-size: 17px;
        font-family: Open Sans;
        font-weight: bold;li {
            font-size: 1px;
            font-family: Open Sans;
        }
        content: "Type: "
    }

    li {
        font-size: 17px;
        font-family: Open Sans;
    }
}

@media only screen and (min-width: 800px) {
    #poke-container {
        display: grid;
        gap: 10px 10px;
        grid-template-columns: 24% 24% 24% 24%;
    }

    p {
        font-size: 15px;
        font-family: Open Sans;
    }

    ul:before {
        font-size: 15px;
        font-family: Open Sans;
        font-weight: bold;
        content: "Type: "
    }

    li {
        font-size: 15px;
        font-family: Open Sans;
    }
}


h2 {
    font-family: Open Sans;
    background-color: rgb(223, 219, 214);
    text-align: center;
    border-radius: 10px;
}

h4 {
    font-size: 18px;
    font-family: Archivo Narrow;
}

h4:first-letter {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
}

#pokeImage {
    background: rgb(100, 140, 214);
background: radial-gradient(circle, rgba(250,240,161,0.8683602771362586) 0%, rgba(255,208,0,1) 100%);
    border-radius: 10px;
    margin-bottom: 10px;
}
#pokemon {
    background-color: rgb(145, 145, 148);
    border-radius: 10px;
    padding: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#pokeContent {
    background: rgb(251,251,251);
background: radial-gradient(circle, rgb(61, 84, 117) 0%, rgba(190,190,188,1) 100%);
    padding: 10px;
    padding-top:1px;
    padding-bottom: 25px;
    border-radius: 10px; 
}

li {
    display:inline;
}

#pokeNumber:before {
    font-weight: bold;
    content:"Code: "
} 

#pokeHeight:before {
    font-weight: bold;
    content:"Height: "
}

#pokeHeight:after {
    content: "m";
}

#pokeHeight {
    float:left;
}

#pokeWeight {
    float:right;
}

#pokeWeight:after {
    content: "kg";
}

#pokeWeight:before {
    font-weight: bold;
    content:"Weight: "
}

li:after {
    content:","
}

ul {
    padding: 0;
    margin: 0;
}

li:last-child:after {
    content:""
}