<ul>
   <li>Title: Everyday Italian</li>
   <li>Author: Giada De Laurentiis</li>
   <li>Year: 2005</li>
</ul>
<hr>
<ul>
   <li>Title: Harry Potter</li>
   <li>Price: 29.99</li>
   <li>Year: 2005</li>
</ul>
<hr>
<ul>
   <li>Title: XQuery Kick Start</li>
   <li>Author: James McGovern</li>
   <li>Year: 2003</li>
</ul>
<hr>
<ul>
   <li>Title: Learning XML</li>
   <li>Author: Erik T. Ray</li>
   <li>Year: 2003</li>
</ul>
<hr>