@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

img {
    width: 100px;
}

table, td, th {
    border:solid 0px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    font-family: Open Sans;
    
}

th {
    padding:20px;
    background-color: rgb(15, 14, 61);
    color:white;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: rgb(223, 219, 214);
}

table {
    box-shadow: 0 0 20px #ccc;
}

tr:hover {
    background-color: gray;
}