@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans&family=Roboto&display=swap');


body {
    background-color: #d3def1;
}

h1 {
    color:rgb(79, 100, 146);
    font-family:Agbalumo;
    text-align: center;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
   
}

li {
    font-family: Ubuntu;
    font-weight:bold;
    float: left;
    padding: 0px 50px;
}

li a {
    display: block;
    color: #611c1c;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
}

li a:hover {
    text-decoration: underline;
    color:rgb(177, 145, 103);
}


.grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 33% 33% 33%;  
}

.container {
    position:relative;
    transition: transform 1s, opacity 1s, display 1s;
}

.container:hover {
    background-color:rgb(23, 86, 138);
    display: inline-block;
    transform: scale(1.1); 
}

.container:hover img {
    opacity: 0.5;
    filter: blur(7px);
}

.container img {
    width:100%;
    height:100%;
    transition: filter 0.5s;
}

.container .title {
    background-color: black;
    position:absolute;
    width:100%;
    padding: 3% 0 3% 0;
    font-size: 120%;
    top: 15px;
    text-align: center;
    color:#fff;
    font-family: Roboto;
    font-weight: bold;
    opacity:0;
}

.container .text {
    text-align: center;
    position:absolute;
    font-size: 100%;
    top: 40%;
    padding:3%;
    color:#fff;
    font-family:sans-serif;
    opacity:0;
    font-size: Open sans;
}
 
.container .readmore {
    background-color: black;
    position: absolute;
    text-align: center;
    width: 40%;
    top: 80%;
    left: 30%;
    padding: 2% 0 2% 0;
    font-size: 100%;
    color:#fff;
    font-family: Roboto;
    font-weight: bold;
    opacity:0;
}

.container:hover .title {
    opacity:1;
}
.container:hover .text {
    opacity:1;
}
.container:hover .readmore {
    opacity:1;
}