@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

h1 {
    text-align: center;
    font-family: oswald;
}

fieldset {
    margin-left: auto;
    margin-right: auto;
}

legend {
    border: black solid 1px;
    padding: 3px;
    background-color: rgb(81, 132, 209);
    color:white;

}

fieldset.primer {
    background-color: rgb(201, 228, 243);
    max-width: 60px;
}

fieldset.segon {
    background-color: rgb(130, 199, 236);
    max-width: 620px;
}

fieldset.tercer {
    background-color: rgb(107, 160, 189);
    max-width: 820px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0;
}

tr {
    margin: 10px 0;
}

div.enviar {
    text-align: center;
}

div.docus {
    padding: 8px 0;
}